.container {
  display: flex;
  flex-direction: column;
}
.box {
  padding: 20px;
  margin: 5px;
}

.box {
  display: flex;
  flex-direction: row;
  position: relative;
}

#length-input {
  position: absolute;
  left: 150px;
  top: 225px;
}

#heigth-input {
  position: absolute;
  left: 300px;
  top: 100px;
}

#pyth-result {
  position: absolute;
  top: 80px;
  left: 120px;
}

#tan-heigth-input {
  position: absolute;
  left: 300px;
  top: 100px;
}

#tan-length-input {
  position: absolute;
  left: 160px;
  top: 240px;
}

#degree-input {
  position: absolute;
  top: 185px;
  left: 105px;
}
